.mat-column-name {
  height: 15px;
}

.mat-mdc-header-cell {
  border-right: 1px solid black;
}

.mat-mdc-cell {
  border-right: 1px solid black;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7px 0;
}

.beige-bg {
  background-color: beige;
}
.light-green-bg {
  background-color: rgb(212, 240, 212);
}
.light-blue-bg {
  background-color: rgb(206, 226, 233);
}
