<div *ngIf="filter">
  <div>
    <p>
      На сером фоне - значит у предподавателя или какой-то подгруппы уже есть
      занятие в это время
    </p>
    <p>Жёлтая кнопка - значит кабинет не подходит по количеству мест</p>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let date of dateRange" [matColumnDef]="date">
      <th mat-header-cell *matHeaderCellDef>{{ date }}</th>
      <td mat-cell *matCellDef="let row">
        <strong>
          {{ row[date]?.cabinet?.number }}
        </strong>

        <app-planner-button
          *ngFor="let order of orderNumbers | keyvalue"
          [dto]="generateButtonDto(date, row[date], order.key)"
        >
        </app-planner-button>
      </td>
    </ng-container>

    <ng-container matColumnDef="groupHeader">
      <td colspan="999" mat-cell *matCellDef="let groupBy">
        <strong> {{ groupBy.name }}</strong>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dateRange"></tr>

    <tr
      mat-row
      *matRowDef="let row; columns: ['groupHeader']; when: isGroup"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: dateRange"></tr>
  </table>
</div>
