<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="menu-spacer"></span>

    <div>
      <a mat-raised-button [routerLink]="'/planner'" class="header-button"> Планировщик </a>
    </div>
    <div>
      <a mat-raised-button [routerLink]="'/schedule'" class="header-button"> Расписание </a>
    </div>
    <span class="menu-spacer"></span>

    <div class="username">{{ userName$ | async }}</div>

    <div>
      <button mat-raised-button color="warn" [routerLink]="'/logout'">
        Выход
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
