.buildings-table {
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 300px;
  min-width: 800px;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.striped-row {
  background-color: #ececec;
}
